* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFFFC5;
}
section {
    
    h2 {
        text-align: center;
        color: #FF13F0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    @media (max-width: 768px) {
        padding: 50px 0;
    }
}

.text {
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}



.wrap1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        width: 175px;
        height: 150px;
    }
    p {
        color: #008000;
    }
    @media (max-width: 768px) {
        display: grid;
        grid-template-columns: 1fr;
        
        text-align: center;
    }
    
}
.wrap2 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        width: 200px;
        height: 150px;
    }
    p {
        color: #FF4B33;
        text-align: right;
    }
    @media (max-width: 768px) {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        text-align: center;
    }
}
.wrap3 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        width: 275px;
        height: 150px;
    }
    p {
        color: blue;
        text-align: left;
    }
    @media (max-width: 768px) {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        text-align: center;
    }
}
.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media (max-width: 768px) {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        text-align: center;
    }
}

ul {
    
    
    a {
        font-size: 17px;
        

    }
}

.title {
    text-decoration: underline;
    font-size: 20px;
    padding-left: 15px;
}